server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name  {{ hostname }};
    
    access_log off;
    error_log off;

    location ^~ /.well-known/acme-challenge {
    alias /var/www/dehydrated;
    }

    location / {
        return 301 https://{{ hostname }};
    }
}
